.human:nth-of-type(even) {
    background-color: #f3f3f3;
}

.human {
    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.human:hover {
    background-color: #b3e6d4;
}

.human__cell {
    padding: 12px 15px;
}

.human:last-of-type {
    border-bottom: 2px solid #009879;
}

